/* Imports */
@import url("reset.css");
@import url("pygment.css");

/***** Global *****/

/* Html */
html {
    text-align: center;
}

/* Body */
body {
    background: #F5F4EF;
    color: #000305;
    font-size: 91%;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
    text-align: left;
    max-width: 1100px;
    min-width: 1000px;
    position: relative;
}

/* Headings */
h1 {font-size: 1.7em }
h2 {font-size: 1.571em}
h3 {font-size: 1.429em}
h4 {font-size: 1.286em}
h5 {font-size: 1.143em}
h6 {font-size: 1em}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.143em;
    margin-bottom: .5em;
    font-family: arial, serif;
}

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #9d1f1f;
    padding: 0 1px;
    text-decoration: none;
}
a:hover, a:active, a.active, .active>a {
    color: #1a4699;
    text-decoration: underline;
}

/* Paragraphs */
p {margin-bottom: 1.143em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

::-moz-selection {background: #8a8a99; color: #fff; }
::selection {background: #8a8a99; color: #fff; }

/* Lists */
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}

ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}

.post-info {
    margin:10px;
    padding:10px;
}

.post-info p{
    margin-bottom: 1px;
}

.readmore {
    float: right;
    font-weight:bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre {
    background-color: #f0f0ed;
    padding: 10px;
    color: #000;
    margin: 10px;
    overflow: auto;
    font-size:105%;
}
code { font-size: 105%; }

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}
q {}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

/* Thead */
thead th {
    padding: .55em .4em .3em .4em;
    text-align: left;
    border-bottom: thin solid #ccc;

    text-transform: uppercase;
    font-size: 85%;
    font-weight:normal;
    letter-spacing: 0.03em;
    color: #707070;
}
thead td {
    border-bottom: thin solid #ccc;
}

/* Tbody */
tbody td {padding: .55em .4em; border-bottom: thin solid #ccc;}
tbody th {border-bottom: thin solid #ccc;}

tbody .alt td {}
tbody .alt th {}

/* Tfoot */
tfoot th {}
tfoot td {}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
    display: block;
}

/***** Layout *****/
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}

/****************
 *    Header    *
 ****************/
#banner {
    clear: both;
    margin: 0 auto 0 auto;
    padding: 2.5em 0 0 0;
}

/* Title line */
#banner a:link, #banner a:visited, #banner a:hover, #banner a:active {
    display: block;
    margin: 0 auto 0 auto;
    background: none;
    padding: 0;
}

#banner a img {
    width:  90%;
    margin: 0 auto 0 auto;
    display:block;

    border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;

    border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#banner h1 {
    font-size: 3.571em;
    line-height: 0;
    margin: 0 auto 0 auto;
}

#banner h1 a:link, #banner h1 a:visited {
    color: #000305;
    display: block;
    font-weight: bold;
    margin: 0 auto .6em auto;
    text-decoration: none;
    width: 90%;
}
#banner h1 a:hover, #banner h1 a:active {
    background: none;
    color: #9d1f1f;
}

#banner h1 strong {font-size: 0.36em; font-weight: normal;}

/* Main Nav */
#banner nav {
    background: #000305;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 0 auto;
    padding: 0;
    width: 90%;

    border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;

    border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#banner nav.bothround {
    border-top-left-radius: 8px;
    -moz-border-top-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;

    border-top-right-radius: 8px;
    -moz-border-top-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#banner nav ul {
    list-style: none;
    margin: 0 auto;
}

#banner nav > ul > li {
    float: left;
    display: inline;
    margin: 0;
    position:relative;
}

#banner nav > ul > li > a {
    height: 30px;
    display: inline-block;
}

#banner nav li > a:link, #banner nav li > a:visited {
    color: #fff;
    padding: 5px 1.5em;
    text-decoration: none;
}

#banner nav li > a:hover, #banner nav li > a:active,
#banner nav .active > a:link, #banner nav .active > a:visited {
    background: #9d0d0d;
    color: #fff;
}

#banner nav > ul > li:first-child a {
    border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;

    border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

#banner nav li:hover .dropdown {
    z-index:1;
    opacity:1;
}

#banner nav .dropdown {
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
    font-size: 0.93em;
}

#banner nav .dropdown li {
    display:block;
    width:210px;
    border-top: 1.5px solid #353232;
}

#banner nav .dropdown li > a {
    display:block;
    padding: 4px 1.0em;
}


/**************************
 *   main page content    *
 **************************/
#content {
    background: #fff;
    float: left;
    margin: 35px 0.75% 35px 5%;
    background: #fff;
    overflow: hidden;
    padding: 50px 7.75%;
    min-width: 500px;
    width: 50%;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/*
 * Sidebar and widgets
 */
#sidebar {
    float: right;
    margin: 35px 5% 35px 0.75%;
    background: #fff;
    overflow: hidden;
    padding: 12px 2%;
    width: 19%;
    font-size: 97%;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#sidebar ul {list-style: none; margin: 0;}
#sidebar li {border-bottom: 1px solid #fff;}

#sidebar h2 {
    color: #9d1f1f;
    font-size: 1.429em;
    margin-top: .75em;
    margin-bottom: .25em;
    padding: 0 3px;
}

#sidebar a:link, #sidebar a {
    color: #444;
    display: block;
    border-bottom: 1px solid #F4E3E3;
    text-decoration: none;
    padding: .3em .25em;
}

#sidebar a:hover, #sidebar a:active {
    color: #fff;
    background-color: #ad2a2a;
    text-decoration:none
}

#sidebar li.active a {
    background-color: #ad2a2a;
    color: white;
}

#sidebar li:last-child,
#sidebar li:last-child a {border: 0}

/* Blogroll */
#sidebar .blogroll li:nth-last-child(2),
#sidebar .blogroll li:nth-last-child(3),
#sidebar .blogroll li:nth-last-child(2) a,
#sidebar .blogroll li:nth-last-child(3) a {border: 0;}

#sidebar .blogroll {
    width: 100%;
}

/* Social */
.social a {
    background-repeat: no-repeat;
    background-position: 3px 6px;
}

.social a[href*='atom.xml']:before {content: url('../images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='rss.xml']:before {content: url('../images/icons/rss.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='stackoverflow.com']:before {content: url('../images/icons/stackoverflow.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='github.com']:before {content: url('../images/icons/github.png'); margin-right: 2px; vertical-align: -3px;}
.social a[href*='gitlab.com']:before {content: url('../images/icons/gitlab.png'); margin-right: 2px; vertical-align: -3px;}

/* Tagcloud */
ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 120%;
}

li.tag-2 {
    font-size: 100%;
}

li.tag-3 {
    font-size: 90%;
}

li.tag-4 {
    font-size: 75%;
}

ul.tagcloud .list-group-item <span>.badge {
    background-color: grey;
    color: white;
}

/****************
 *    Footer    *
 ****************/
#footer {
    text-align: center;
    clear: both;
    width: 90%;
    margin: 20px auto;
}

/****************
 *    About     *
 ****************/
#about {
    background: #fff;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/*
 * Blog categories or index
 */
.hentry {
    border-bottom: 1px solid #eee;
    padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}

/* Featured article or title of article */
.entry-title {font-size: 2.7em; margin-top: 0; margin-bottom: .7em }
.entry-title a:link, .entry-title a:visited { text-decoration:none; color: #000305 }
.entry-title a:hover, .entry-title a:active { color: #9d1f1f; }

/* Separator between featured and further articles list */
.featured-separator {
    border: 3px solid #EEEEEE;
    margin-top: 4em;
}

/** Further entries */
.hentry header a:link, .hentry header a:visited {text-decoration:none; color: #000305 }
.hentry header a:hover, .hentry header a:active { color: #9d1f1f }
.hentry header h1 { font-size: 2.1em; margin-top: 0;}

/** Post info and content footer */
.hentry .post-info * {font-style: normal;}

.hentry footer {margin-bottom: 2em;}

.hentry footer address {display: inline;}
#posts-list footer address {display: block;}

#posts-list {list-style: none; margin: 0;}
#posts-list .hentry {padding-left: 10px; position: relative;}

#posts-list footer { width: 85%; }
