{% extends "page.html" %}
{% block pagecontent %}
{{ page.content }}

{% set keymap = {"code": "Software", "article": "Journal articles", "thesis": "Theses",
                 "recorded": "Recorded talks or lectures",
                 "lecture notes": "Lecture notes"} %}
<ul>
	{% for kind, _ in ( (articles + pages)
		| selectattr("pubauthors", "defined") | groupby("pubkind")) %}
	<li><a href="#{{kind}}">{{ keymap.get(kind, kind) }}</a></li>
	{% endfor %}
	{# TODO temporary, until a better solution is found #}
	{% if page.talksposters | length > 0 %}
	<li><a href="{{SITEURL + page.talksposters}}">Talks and Posters</a></li>
	{% endif %}
	{# TODO end temporary #}
</ul>

{% for kind, list in ( (articles + pages)
	| selectattr("pubauthors", "defined")
	| groupby("pubkind")) %}
<h2 id="{{kind}}">{{ keymap.get(kind, kind) }}</h2>
<ol class="publication-list">
{% for article in list | sort(attribute='pubdate', reverse=False) %}
<li>{% include 'publication_infos.html' %}</li>
{% endfor %}
</ol>
{% endfor %}

{# TODO temporary, until a better solution is found #}
{% if page.talksposters | length > 0 %}
<h2>Talks and Posters</h2>
See <a href="{{SITEURL + page.talksposters}}">List of talks and posters</a>.
{% endif %}
{# TODO end temporary #}

{% endblock %}
