{% extends "page.html" %}
{% block pagecontent %}
{{ page.content }}

{% set keymap = {"code": "Software", "article": "Journal articles", "thesis": "Theses",
                 "recorded": "Recorded talks or lectures", } %}

<ul>
	{% for kind, _ in (articles
		| selectattr("pubauthors", "defined") | groupby("pubkind")) %}
	<li><a href="#{{kind}}">{{ keymap.get(kind, kind) }}</a></li>
	{% endfor %}
	<li><a href="#lecture-notes">Lecture notes</a></li>
</ul>

{# Do all the other publications first #}
{% for kind, list in ( articles
	| selectattr("pubauthors", "defined")
	| groupby("pubkind")) %}
<table>
<thead>
<tr>
	<th id="{{kind}}">{{ keymap.get(kind, kind) }}</th>
</tr>
</thead>
{% for article in list | sort(attribute='pubdate', reverse=True) %}
{% include 'publication_infos.html' %}
{% endfor %}
</table>
{% endfor %}

{# Do all the lecture notes #}
<table>
<thead>
<tr>
	<th id="lecture-notes">Lecture notes</th>
</tr>
</thead>
{% for article in ( pages
	| selectattr("pubauthors", "defined")
	| sort(attribute='pubdate', reverse=True)) %}
{% include 'publication_infos.html' %}
{% endfor %}
</table>

{% endblock %}
