<tr><td>
{# Authors #}
{{ article.pubauthors | reverse |
replace(";", " dna ", 1) | reverse | replace(";", ", ") | trim }}.
{% if article.pubauthors | length > 45 %}<br />{% endif %}

{# Title #}
<em>
{%- if article.puburl | length > 0 %}
	{% set url = article.puburl %}
	{% if url[0] == "/" %}
		{% set url = SITEURL + url %}
	{% endif %}
{% elif article.pubdoi | length > 0 %}
	{% set url = "https://doi.org/" + article.pubdoi %}
{% endif %}

{%- if url -%}
<a href="{{url}}">
{%- endif -%}
{{article.pubtitle | default(article.title)}}
{%- if url -%}
</a>
{%- endif %}.</em>

{# Article #}
{%- if article.pubkind | default("article") == "article" -%}

<br />
{% if article.pubjournal | length > 0 -%}
	{% if article.pubstatus == "submitted" or article.pubstatus == "accepted" -%}
		Submitted to
	{%- elif article.pubstatus == "published" -%}
		Published in
	{%- endif %}

	{% if article.pubjournalurl | length > 0 -%}
		<a href="{{article.pubjournalurl}}">{{article.pubjournal}}</a>
	{%- else -%}
		{{article.pubjournal}}
	{%- endif -%}

	{%- if article.pubstatus == "published" -%}
		, <strong>{{article.pubissue}}</strong>, {{article.pubstartpage}}
		({{article.pubdate | truncate(4,True,"",0)}}).
	{%- elif article.pubstatus == "accepted" %}
		({{article.pubdate | truncate(4,True,"",0)}}). Accepted for publication.
	{%- elif article.pubstatus == "submitted" -%}
		.
	{%- else %}<strong>Unknown article pubstatus {{article.pubstatus}}</strong>{% endif %}
{% else -%}
	{% if article.pubstatus == "submitted" %}Submitted.
	{%- else %}<strong>No journal specified</strong>
	{%- endif %}
{%- endif %}

{# Lecture notes or Code or thesis #}
{% elif article.pubkind == "lecture notes" or article.pubkind == "code" or article.pubkind == "thesis"%}
{% if article.pubkind == "thesis" and article.pubthesis %}{{article.pubthesis}} {% endif %}
{% if article.pubdate | length > 0 %}({{article.pubdate | truncate(4,True,"",0)}}).{% endif %}

{# Unknown #}
{% else %}
<strong>Unknown article pubkind {{article.pubkind}}</strong>
{% endif -%}

{%- if article.pubaward | length > 0 %}
	<br />{{article.pubaward}}
{% endif %}

{# Normalisation #}
{# Normalisation -> if details is missing point to current article #}
{# If no preprint, but arxiv is present, point to arxiv pdf #}

<br />
{# Annotations and attachments #}
{% for attname in ["doi", "bib", "preprint", "pdf", "hal", "arxiv", "slides", "code",
				   "data", "errata", "details"] %}
	{% if article | attr("pub" + attname) | length > 0 -%}
		{% set url = article | attr("pub" + attname) %}
		{% set urltext = attname %}
		{% if attname == "doi" %}
			{% set url = "https://doi.org/" + article.pubdoi %}
			{% set pretext = "DOI " %}
			{% set urltext = article.pubdoi %}
		{% endif %}
		{% if attname == "arxiv" %}
			{% set url = "https://arxiv.org/abs/" + article.pubarxiv %}
			{% set urltext = "arXiv:" + article.pubarxiv %}
		{% endif %}
		{% if attname == "hal" %}
			{% set url = "https://hal.archives-ouvertes.fr/" + article.pubhal %}
			{% set urltext = article.pubhal %}
		{% endif %}
		{% if attname == "details" %}
			{% set urltext = "further details" %}
		{% endif %}
		{% if url[0] == "/" %}
			{% set url = SITEURL + url %}
		{% endif -%}
		<span class="nobreak">[{{pretext}}<a href="{{url}}">{{urltext}}</a>]</span>
	{% endif %}
{% endfor %}
</td></tr>
