{# Author #}
{%- if article.pubkind | default("article") in ["article", "code"] -%}
	{%- set author -%}
		{{ article.pubauthors | reverse |
		replace(";", " dna ", 1) | reverse | replace(";", ", ") | trim }}.
	{%- endset -%}
{%- endif -%}

{# Find "best" url and identifier #}
{% set tags = namespace(url="", idtext="", idurl="") %}
{% for attname in ["url", "pdf", "preprint", "hal", "arxiv", "doi"] %}
	{% if article | attr("pub" + attname) | length > 0 -%}
		{% if attname == "doi" %}
			{% set tags.idurl = "https://doi.org/" + article.pubdoi %}
			{% set tags.idtext = "DOI " + article.pubdoi %}
		{% elif attname == "arxiv" %}
			{% set tags.idurl = "https://arxiv.org/abs/" + article.pubarxiv %}
			{% set tags.idtext = "arXiv:" + article.pubarxiv %}
		{% elif attname == "hal" %}
			{% set tags.idurl = "https://hal.archives-ouvertes.fr/" + article.pubhal %}
			{% set tags.idtext = article.pubhal %}
		{% endif -%}
		{% if tags.url | length == 0 and article | attr("pub" + attname) | length > 0 %}
			{% set tags.url = article | attr("pub" + attname) %}
		{% endif %}
	{% endif %}
{% endfor %}
{% if tags.url and tags.url[0] == "/" %}
	{% set tags.url = SITEURL + tags.url %}
{% endif %}

{# Title #}
{% set title %}
{%- if tags.url -%}<a href="{{tags.url}}">{%- endif -%}
{{article.pubtitle | default(article.title)}}
{%- if tags.url -%}</a>{%- endif %}
{% endset %}

{# Tag #}
{%- if tags.idtext | length > 0 %}
{% set tag -%}
<span class="nobreak"><a class="stealth" href="{{tags.idurl}}">{{tags.idtext}}</a></span>
{% endset %}
{% endif -%}

{# Details #}
{%- if article.pubdetails | length > 0 -%}
{# TODO Not always the case !#}
{% set details -%}
<span class="nobreak"><a href="{{article.pubdetails}}">{{
	article.pubdetailstext | default("Blog article")
}}</a>.</span>
{%- endset %}
{% endif %}

{# Annotations #}
{%- set annotations -%}
{% for attname in ["bib", "slides", "code", "data", "errata"] %}
	{% if article | attr("pub" + attname) | length > 0 -%}
		{% set url = article | attr("pub" + attname) %}
		{% if url[0] == "/" %}{% set url = SITEURL + url %}{% endif -%}
		<span class="nobreak"><a class="stealth" href="{{url}}">[{{attname}}]</a></span>
	{% endif %}
{% endfor %}
{% endset %}

{# Date #}
{% set date = "" %}
{%- if article.pubdate | length > 0 -%}
	{% set date -%}
		({{article.pubdate | truncate(4,True,"",0) }})
	{%- endset %}
{%- endif -%}

{# Body #}
{% set body -%}
{%- if article.pubkind | default("article") == "article" -%}
	{{article.pubjournal | default("")}}
	{%- if article.pubstatus == "published" -%}
		, <span class="nobreak"><strong>{{article.pubissue}}</strong>, {{article.pubstartpage}}</span>
	{%- else -%}
		{%- set date %}({{article.pubstatus}}){% endset -%}
	{% endif %}
{% elif article.pubkind in ["lecture notes", "code", "thesis", "recorded"] -%}
	{%- if article.pubkind == "thesis" and article.pubthesis -%}{{article.pubthesis}} {% endif -%}
{%- else -%}
<strong>Unknown article pubkind {{article.pubkind}}</strong>
{%- endif -%}
{% endset %}

{# Display #}
{{ author }}
<em>{{ title }}.</em>
{{ body }} {{ date }}. {{article.pubaward | default("")}}
{{ tag }}{{ annotations }}
{%- if not from_article | default(False) %}{{details}}{% endif -%}
