{% if SIDECATEGORIES %}
{% for widcat in SIDECATEGORIES %}
	<div class="widget">
	<h2>{{ widcat.label | default(widcat.category) }}</h2>
	<ul>
	{% if (widcat.type | default('page') | string) == 'page' %}
	{% for p in PAGES if p.category == widcat.category %}
	<li {% if page is defined and  p.url == page.url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{p.title}}</a></li>
	{% endfor %}
	{% elif (widcat.type | default('page') | string) == 'article' %}
	{% for a in ARTICLES if article.category == widcat.category %}
	<li {% if article is defined and a.url == url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ article.url }}">{{a.title}}</a></li>
	{% endfor %}
	{% endif %}
	</ul>
	</div>
{% endfor %}
{% endif %}
