{% if SIDEDETAILS %}
{% for elem in SIDEDETAILS %}
	{% set typestr = (elem.type | default('page') | string) %}
	<div class="widget">
	<h2>{{ elem.label }}</h2>
	<ul>
	{% if typestr == 'page' %}
		{% set pages = (PAGES
				| selectattr(elem.filter.0, "equalto", elem.filter.1)
				| sort(attribute=(elem.sortkey | default('date')))
				)[-(elem.max|default(100)):] %}
		{% if elem.reverse_selection | default(false) %}
			{% set pages = ( pages | reverse ) %}
		{% endif %}

		{% for p in pages %}
		<li {% if page is defined and  p.url == page.url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{p.shorttitle | default(p.title)}}</a></li>
		{% endfor %}
	{% elif typestr == 'article' and elem.filter.0 == 'category' %}
		{% for category,articles in categories if category == elem.filter.1 %}
		{% set articles = (articles
					| sort(attribute=(elem.sortkey | default('date')))
				  ) [-(elem.max|default(100)):] %}
		{% if elem.reverse_selection | default(false) %}
			{% set articles = ( articles | reverse ) %}
		{% endif %}

		{% for a in articles %}
		<li {% if article is defined and a.url == article.url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ a.url }}">{{ a.shorttitle | default(a.title)}}</a></li>
		{% endfor %}
		{% endfor %}
	{% elif typestr == 'article' and elem.filter.0 == 'tag' %}
		{% for tag,articles in tags if tag == elem.filter.1 %}
		{% set articles = (articles
					| sort(attribute=(elem.sortkey | default('date')))
				  ) [-(elem.max|default(100)):] %}
		{% if elem.reverse_selection | default(false) %}
			{% set articles = ( articles | reverse ) %}
		{% endif %}

		{% for a in articles %}
		<li {% if article is defined and a.url == article.url %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ a.url }}">{{ a.shorttitle | default(a.title)}}</a></li>
		{% endfor %}
		{% endfor %}
	{# TODO #}
	{% endif %}
	</ul>
	</div>
{% endfor %}
{% endif %}
