{% if SIDEDETAILS %}
{% for elem in SIDEDETAILS %}
	{# Preprocessing #}
	{% set ns = namespace(objects=[],selector=None) %}
	{% if elem.type | default('page') == 'page' %}
		{% set ns.objects = (pages | selectattr(elem.filter.0, "equalto", elem.filter.1)) %}
		{% if page is defined %}
			{% set ns.selector = page %}
		{% endif %}
	{% elif elem.type == 'article' and elem.filter.0 == 'tag' %}
		{% for tag, articles in tags if tag == elem.filter.1 %}
			{% set ns.objects = articles %}
		{% endfor %}
		{{ objects }}
		{% if article is defined %}
			{% set ns.selector = article %}
		{% endif %}
	{% elif elem.type == 'article' and elem.filter.0 == 'category' %}
		{% for category, articles in categories if category == elem.filter.1 %}
			{% set ns.objects = articles %}
		{% endfor %}
		{% if article is defined %}
			{% set ns.selector = article %}
		{% endif %}
	{% endif %}

	{# Display #}
	<div class="widget">
	<h2>{{ elem.label }}</h2>
	<ul>
	{% set ns.objects = (ns.objects | sort(attribute=(elem.sortkey | default('date')))
						)[-(elem.max|default(100)):] %}
	{% if elem.reverse_selection | default(false) %}
		{% set ns.objects = (ns.objects | reverse ) %}
	{% endif %}

	{% for ob in ns.objects %}
		<li {% if ns.selector and ob.url == ns.selector.url %}class="active"{% endif %}>
			<a href="{{ SITEURL }}/{{ ob.url }}">{{ob.shorttitle | default(ob.title)}}</a>
		</li>
	{% endfor %}

	{% if elem.final_link %}
	<li><em><a href="{{ SITEURL }}/{{elem.final_link.1}}">{{elem.final_link.0}}</a></em></li>
	{% endif %}
	</ul>
	</div>
{% endfor %}
{% endif %}
